$mask-bg: rgba(0, 0, 0, 0.5) !default;
$font-family: PingHei,
"Lucida Grande",
"Lucida Sans Unicode",
STHeiti,
Helvetica,
Arial,
Verdana,
"sans-serif",
"PingHei-light",
SimHei,
"Droid Sans" !default;

$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 16px !default;

$border-radius-base: 8px !default;
$border-radius-small: 3px !default;
$border-radius-large: 50px !default;

