$mask-bg: rgba(0, 0, 0, 0.5) !default;
$font-family: PingHei,
"Lucida Grande",
"Lucida Sans Unicode",
STHeiti,
Helvetica,
Arial,
Verdana,
"sans-serif",
"PingHei-light",
SimHei,
"Droid Sans" !default;
// --- font-size ---
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 16px !default;

$border-radius-base: 8px !default;
$border-radius-small: 3px !default;
$border-radius-large: 50px !default;

// --- color ---
$light-color: #f6f6f6;
$active-color: rgb(240, 37, 15); // 选中颜色
$disable-color: #e1e1e1;
$title-color: #2d2d2d;
$primary-color: rgb(240, 37, 15);
$dark-color: #dadada;
$text-color: #d37d42;

// --- Animation ---
$animation-duration: .25s !default;
$ease-in-out: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$animation-timing-fun: cubic-bezier(0.55, 0.085, 0.68, 0.53) !default;


